<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <b> Endereço: </b><br/>
        <div class="small">
          Vila São Paulo - S/N Fazenda Açaí Terruá - Sta Maria do Pará<br/>
          Belém - PA<br/>
          66000-000<br/>
        </div>
        <p>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/acaiterrua/?fref=ts"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li><a href="https://www.instagram.com/acaiterrua/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <b> Contatos: </b><br/>
        <div class="small">
          Telefone: (91) 9883-95753 | (61) 999466730<br/>
          E-mail: contato@acaiterrua.com.br<br/>
        </div>
      </div>
    </div>
  </div>
</footer>
