<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/acaiterrua/?fref=ts"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li><a href="https://www.instagram.com/acaiterrua/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
