<!DOCTYPE html>
<!-- saved from url=(0057)https://blackrockdigital.github.io/startbootstrap-agency/ -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Açaí Terruá</title>

    <% include css %>

  </head>

  <body id="page-top" class="not_index" >
    <% include ./nav_bar%>

    <%- body %>

    <% include footer %>

    <% include javascripts %>
  </body>
</html>
