<nav class="navbar navbar-default navbar-custom navbar-fixed-top affix">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
    <div class="navbar-header page-scroll">
      <a href="/"><img src="/logo_white.png" width="100" class="img_logo_small"></a>

    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="links">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="/#institucional">Institucional</a>
        </li>
        <li>
          <a class="page-scroll" href="/#products">Produto</a>
        </li>
        <li>
          <a class="page-scroll" href="/#social">Social</a>
        </li>
        <li>
          <a class="page-scroll" href="#">Contato</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
