<!DOCTYPE html>
<!-- saved from url=(0057)https://blackrockdigital.github.io/startbootstrap-agency/ -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/logo_acai.png">

    <title>Açaí Terruá</title>

    <% include layouts/css %>

  </head>

  <body id="page-top" class="index">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <img src="/logo.png" width="150" class="img_logo">
          <img src="/logo_white.png" width="100" class="img_logo_small">
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="links">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden active">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#institucional">Institucional</a>
            </li>
            <li>
              <a class="page-scroll" href="#products">Produto</a>
            </li>
            <li>
              <a class="page-scroll" href="/sustentability">SUSTENTABILIDADE</a>
            </li>
            <li>
              <a class="page-scroll" href="/contact">Contato</a>
            </li>
            <li>
              <a class="page-scroll" href="/gallery">Galeria</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">Açai terruá</div>
          <a href="#institucional" class="page-scroll btn btn-xl">Saiba mais</a>
        </div>
      </div>
    </header>

    <section id="institucional">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Institucional</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3">
            <h4 class="service-heading">Quem somos:</h4>
            <p class="text-muted">
              O empreendimento Açaí Terruá tem como finalidade a produção,
              comercialização e distribuição de polpas de açaí de alta qualidade...
            </p>
            <div class="leia-mais">
              <a href="#" data-toggle="modal" data-target="#quem-somos">Leia mais...</a>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">O que fazemos:</h4>
            <p class="text-muted">
              Somos uma empresa que objetiva dominar a cadeia produtiva do açaí.
              Investimos desde a própria produção até a fabricação...
            </p>
            <div class="leia-mais">
              <a href="#" data-toggle="modal" data-target="#o-que-fazemos">Leia mais...</a>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">Como Trabalhamos:</h4>
            <p class="text-muted">
              As polpas de açaí produzidas e comercializadas por Açaí Terruá
              têm como principal diferencial na qualidade de seus produtos...
            </p>
            <div class="leia-mais">
              <a href="#" data-toggle="modal" data-target="#como-trabalhamos">Leia mais...</a>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="service-heading">Responsabilidade Social:</h4>
            <p class="text-muted">
              Ao longo destes anos, o Açaí Terruá sempre se preocupou em
              estabelecer contratos de fornecimento com indústrias no Pará
              que tivesse...
            </p>
            <div class="leia-mais">
              <a href="#" data-toggle="modal" data-target="#resp-social">Leia mais...</a>
            </div>
          </div>

        </div>
      </div>
    </section>

      <!-- Portfolio Grid Section -->
    <section id="products" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Produtos</h2>
          </div>
        </div>
        <div class="row">
          Em breve...
        </div>
      </div>
    </section>

    <section id="social">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Social</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="text-center">
                <div class="fb-page" data-href="https://www.facebook.com/acaiterrua" data-tabs="timeline" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/acaiterrua" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/acaiterrua">Açaí Terruá</a>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <blockquote class="instagram-media instagram" data-instgrm-version="7">
                <div style="padding:8px;">
                  <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                    <div>
                    </div>
                  </div>
                  <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                    <a href="https://www.instagram.com/p/BLZ3X-ijwBr/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">
                      A photo posted by Açaí Terruá- Brasília\Pará (@acaiterrua)
                    </a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-10-28T14:00:57+00:00">Oct 28, 2016 at 7:00am PDT</time>
                  </p>
                </div>
              </blockquote>
              <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
            </div>
          </div>

        </div>
      </div>
    </section>

    <% include layouts/footer %>

    <!-- Modais -->
    <div id="quem-somos" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Quem somos: </h4>
          </div>
          <div class="modal-body">
            <p>
              O empreendimento Açaí Terruá tem como finalidade a produção, comercialização e distribuição de polpas de açaí de alta qualidade.
              Seu principal diferencial está no controle de toda a cadeia produtiva (desde o cultivo do fruto em fazenda própria até a
              distribuição do produto) e na atenção às necessidades dos clientes, entregando um produto de alta qualidade e com maior praticidade,
              através do serviço de “entrega programada”, no qual o cliente define a periodicidade, o melhor dia e horário para as entregas serem
              realizadas, não se limitando às compras e entregas diárias de açaí – como é comum no mercado.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="o-que-fazemos" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">O que fazemos:</h4>
          </div>
          <div class="modal-body">
            <p>
              Somos uma empresa que objetiva dominar a cadeia produtiva do açaí. Investimos desde a própria produção até a fabricação de produtos
              inovadores e revolucionários com um Mix de produtos a base de açaí e outras composições de frutas da Amazônia, com cremosidade,
              cor e sabor original da fruta. O Açaí Terruá têm como destaque uma competente equipe de profissionais práticos e engenheiros em pesquisa
              de produtos inovadores. Toda a linha de produtos apresenta as seguintes características: produtos a base de açaí
              (polpa, cremes, bebidas, açaí em pó, óleo de açaí, purê de açaí), com a marca “AÇAÍ TERRUÁ” que tem sua aplicação com venda direta ao
              consumidor e para aplicação na indústria de sorvetes e indústria alimentícia. O principal diferencial dos produtos está na formulação à
              base de açaí, rico em ferro, fibras, carboidratos e proteínas. Uma importante propriedade do açaí, as antocianinas, que destaca sua cor,
              mais precisamente na pigmentação roxa e com cheiro agradável ao consumidor. A empresa tem o seu mercado direcionado às grandes redes de
              Fast Food, restaurantes, supermercados, lojas de sucos, açaíteria, sorveterias.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="como-trabalhamos" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Como trabalhamos:</h4>
          </div>
          <div class="modal-body">
            <p>
              As polpas de açaí produzidas e comercializadas por Açaí Terruá têm como principal diferencial na qualidade de seus produtos e na agregação
              de valores, haja vista a adoção do processo de Boas Práticas Agrícolas (BPA) e de Fabricação (BPF) durante o processo de produção.
              Além disto, os frutos utilizados são oriundos de área própria de cultivo, com a utilização de tecnologias de ponta para promoção da
              irrigação de alta precisão (Sistema Americano HUNTER de automatização) e fertiirrigação (Tecnologia Norueguêsa da YARA FERTIZILANTES),
              que mesmo em períodos sazonais (safra e entresafra), garantem a produção durante o ano todo e o momento certo do ponto de colheita
              (maturação dos frutos no estágio metabólico ideal) com alto rendimento para o processamento industrial. Também passa por um rigoroso
              processo de acompanhamento e avaliação durante todo o desenvolvimento das palmeiras e frutos e de monitoramento e rastreabilidade até a
              entrega no destino final, para que se preserve todas características nutricionais do açaí.  Ainda conta com um Sistema Integrado de
              Melipolicultura (criação de abelhas nativas sem ferrão) que além de favorecem o cultivo e o incremento da produção de uma forma natural,
              auxilia no combate as mudanças climáticas, preservando a natureza. Cada quilo de mel produzido pode neutralizar até 16 quilos de dióxido de
              carbono (CO2) lançados na atmosfera. Essas são as tendências atuais e que fortalece ainda mais o agronegócio do açaí.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="resp-social" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Responsabilidade Social:</h4>
          </div>
          <div class="modal-body">
            <p>
              Ao longo destes anos, o Açaí Terruá sempre se preocupou em estabelecer contratos de fornecimento com indústrias no Pará que tivesse
              um compromisso social com as comunidades carentes da região e os mesmos objetivos de sustentabilidade e proteção florestal. </br>
            </p>
            <p>
              Nossas fábricas contêm certificados de qualidade, HAACCP, Manual de boas práticas de fabricação, análises microbiológicas por lote,
              análise de sólidos, controles diversos de qualidade, lotes testemunha de cada produção e acompanhamento de engenheiro de alimentos.</br>
            </p>
            <p>
              Serviço ao cliente: Hoje contamos com um departamento de atendimento ao cliente treinado para explicar e esclarecer todas as dúvidas
              comerciais e produtos. Nossa preocupação é atender com perfeição e excelência a todos os clientes e mantê-los sempre informados e
              satisfeitos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.easing.min.js"></script>
    <script src="/javascript/agency.min.js"></script>
    <script src="/javascript/custom.js"> </script>

  </body>
</html>
