header {
  background-image: url(../acai_maos.jpg);
  height: 900px
}

.navbar-custom.affix {
  background-color:#800080;
  padding:10px 0;
  font-size: 14px;
}

.logo {
  padding:2px 0;
}

.navbar-custom {
  background-color:#fff;
  padding:15px;
  font-size: 20px;
  text-decoration: #000;
}

.navbar-custom.affix-top .nav li a {
  color: #800080;
}

body.not_index {
  padding-top: 77px
}

img.hidden {
  display: none;
}

.affix-top #links > ul.nav {
  padding-top: 18px;
}

section h3.section-subheading {
  margin-bottom: 20px;
}

.leia-mais {
  text-align: right;
}

form#contactForm {
  height: 300px;
}
