header {
  background-image: url(../acai_maos.jpg);
}

.navbar-custom.affix {
  background-color:#800080;
  padding:10px 0
}

.logo {
  padding:2px 0;
}

.navbar-custom {
  background-color:#800080;
  padding:15px;
}

img.hidden {
  display: none;
}

.affix-top #links > ul.nav {
  padding-top: 18px;
}
