header {
  background-image: url(../acai_maos.jpg);
}

.navbar-custom.affix {
  background-color:#800080;
  padding:10px 0;
  font-size: 14px;
}

.logo {
  padding:2px 0;
}

.navbar-custom {
  background-color:#800080;
  padding:15px;
  font-size: 20px;
}

img.hidden {
  display: none;
}

.affix-top #links > ul.nav {
  padding-top: 18px;
}

section h3.section-subheading {
  margin-bottom: 20px;
}
