header {
  background-image: url(../images/1.jpg);
}

.navbar-custom.affix {
  background-color:#800080;
  padding:10px 0
}

.logo {
  padding:2px 0;
}

.navbar-custom .nav li a {
  color: #222;
}

img.hidden {
  display: none;
}
