<div class="container body-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Sustentabilidade</h2>
    </div>
  </div>
  <div id="social-responsability">
    <div class="text">
      <p>
        A atuação do Açaí Terruá em relação à sustentabilidade está incorporado em sua estratégia empresarial, pois sabemos da importância da conservação dos recursos naturais para garantir a preservação do meio ambiente e toda sua população. Por isso, investimos constantemente em busca de práticas mais sustentáveis. Um empreendimento que prioriza os valores dos princípios de conduta, a busca pela excelência dos produtos e atendimento ao cliente, focado no conhecimento e origem dos frutos e dos seus benefícios.
      </p>
      <ul>
        <li>
          Criamos um Sistema Integrado de Meliponicultura (criação de abelhas nativas da Amazônia sem ferrão) que além de favorecer o cultivo através da polinização e o incremento da produção na formação de frutos no açaizeiro de uma forma natural, auxilia no combate as mudanças climáticas, preservando à natureza. Cada quilo de mel produzido pode neutralizar até 16 quilos de dióxido de carbono (CO2) lançados na atmosfera.
        </li>
        <li>
          Reflorestamos áreas onde não há viabilização de plantio de açaí com espécies nativas da região Amazônica, como o paricá.
        </li>
        <li>
          Adubamos de forma orgânica natural equilibrada por acompanhamento de análises de solo, solução de solo, folha e fruto.
        </li>
        <li>
          Inovamos com o uso de um “cultivo inteligente”, que permite através sensores instalados em nossas fazendas produtoras de açaí, o monitoramento de diversas variáveis ambientais (condições reais de solo, clima e do cultivo) com informações precisas e relevantes que auxiliam em uma melhor tomada de decisão para uma agricultura mais sustentável e produtiva.
        </li>
        <li>
          Utilizamos de técnicas de supressão de pastagem por incorporação de espécies fixadores de nitrogênio, facilitando a conservação do solo, inibindo a erosão e gerando biomassa verde para a manutenção da umidade.
        </li>
        <li>
          Usamos embalagens recicláveis e mais leves e incentivamos a coleta seletiva de lixo e resíduos. Após a venda para as cooperativas de reciclagem, a renda volta em forma de benefícios para os colaboradores
        </li>
      </ul>
      <p>
        Com o objetivo de prevenir e evitar qualquer impacto que possam vim ocorrer durante todo ciclo de vida do produto. A empresa trabalha com um sistema de gestão ambiental através de um plano de ação com treinamento de colaboradores, alocação de recursos, auditoria e ampla identificação de riscos, direcionando o foco para o tipo de ações que possam vim causar qualquer impacto negativo, tanto na questão ambiental, social e econômica.  Por isso, aplica em toda a sua cadeia de produção ações que combinem minimizar os impactos gerados, otimizar a produção e diminuir o desperdício da matéria prima. Dessa forma, com os resultados obtidos podemos ter uma renovação do portfólio dos nossos produtos,a produtividade aumentada, maior comprometimento dos colaboradores e a conscientização na preservação dos recursos naturais e não renováveis.
      </p>
      <p>
        Compreendendo também que esse mesmo conceito não deve parar na cadeia de produção, de modo que a empresa tende a buscar a sustentabilidade não só para si, mas compartilhar e se tornar um exemplo a ser seguido.
      </p>
    </div>
  </div>
</div>
