<div class="container body-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Como Trabalhamos</h2>
    </div>
  </div>
  <div id="whow_we_work">
    <div class="text">
      <p>
        As polpas de açaí produzidas e comercializadas por Açaí Terruá têm como principal diferencial na qualidade de seus produtos e na agregação de valores, haja vista a adoção do processo de Boas Práticas Agrícolas (BPA) e de Fabricação (BPF) durante o processo de produção. Além disto, os frutos utilizados são oriundos de área própria de cultivo, com a utilização de tecnologias de ponta para promoção da irrigação de alta precisão (Sistema Americano HUNTER de automatização) e fertirrigação (Tecnologia Norueguesa da YARA FERTIZILANTES), que mesmo em período sazonal (entressafra), garantem a produção durante o ano todo e o momento certo do ponto de colheita (maturação dos frutos no estágio metabólico ideal) com alto rendimento para o processamento industrial. Nosso sistema de refrigeração avançado promove o congelamento rápido da polpa, diminuindo o tempo de exposição às temperaturas não ideais, resultando em uma polpa mais natural, com conservação dos valores nutricionais e mais antioxidantes.
      </p>
      <p>
        Nossas fábricas contêm certificados de qualidade, HAACCP, manual de boas práticas, análises microbiológicas por lote, análise de sólidos, lotes testemunha de cada produção. Contamos com profissionais capacitados e rigoroso controle de produção efetuado por laboratório próprio, garantindo controle de qualidade, supervisionado por um Engenheiro Químico.
      </p>
      <p>
        Centralizamos todo o sistema da cadeia produtiva que passa por um rigoroso processo de acompanhamento e avaliação durante todo o desenvolvimento das palmeiras e frutos, de monitoramento e rastreabilidade até a entrega no destino final, para que se preserve todas características nutricionais do açaí.
      </p>
      <p>
        Essas são as tendências atuais e que fortalece ainda mais o agronegócio do açaí.
      </p>
    </div>
  </div>
</div>
