<div class="container body-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Responsabilidade Social</h2>
    </div>
  </div>
  <div id="whow_we_work">
    <div class="text">
      <p>
        Ao longo destes anos, o Açaí Terruá sempre se preocupou em estabelecer contratos de fornecimento com indústrias e parcerias com produtores que tivessem um compromisso social com as comunidades carentes da região e os mesmos objetivos de sustentabilidade e proteção florestal.
      </p>
      <p>
        Prezando pela harmonia com o povo local, investimos constantemente no bem-estar da comunidade. Confira as principais ações que desenvolvemos:
      </p>
      <ul>
        <li> ESPORTE:  MMA, FUTEBOL e VÔLEI </li>
        <li> FEIRA: SUPERNORTE </li>
        <li> SUSTENTABILIDADE: Doação de Mudas de Açaí </li>
        <li> SAÚDE: HOSPITAL GALLIEU </li>
        <li> MOBILIDADE: Reconstrução e Manutenção de estradas e pontes para comunidade local </li>
        <li> EDUCAÇÃO: Merenda Escolar </li>
        <li>
          PROFISSIONALIZAÇÃO: Em parceria com SENAR, desenvolvemos ações de formação profissional e atividades de promoção social voltadas para a família rural, contribuindo com sua profissionalização, integração na sociedade, melhoria da qualidade de vida e pleno exercício da cidadania.
        </li>
      </ul>
    </div>
  </div>
</div>
