<div class="container body-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">O Que Fazemos</h2>
    </div>
  </div>
  <div id="what_we_do">
    <div class="text">
      <p>
        Somos uma empresa que objetiva dominar a cadeia produtiva do açaí à oferecer produtos com rastreabilidade e padrão de qualidade sem ruptura no fornecimento durante os 12 meses do ano, mesmo em período de sazonalidade (entre safra), na qual ocorre a escassez dos frutos com uma baixa na escala produtiva. O principal diferencial dos produtos está na formulação à base de açaí, rico em ferro, fibras, carboidratos e proteínas. Uma importante propriedade do açaí, as antocianinas, que destaca sua cor, mais precisamente na pigmentação roxa e com cheiro agradável ao consumidor. Os produtos da marca Açaí Terruá possuem cor natural e sem oxidação, mantendo alto nível de antocianina devido ao manejo adequado da cultura com o controle da colheita do fruto na fase inicial de maturação e um curto espaço de tempo entre a colheita e o processamento do fruto e tecnologia de processo a frio. Com isso, o nosso produto é plantado, colhido, transformado em polpa e produtos derivados, embalado e entregue mantendo todas as propriedades naturais.
      </p>
      <p>
        Por isso, nós investimos desde a própria produção até a fabricação de produtos inovadores e revolucionários com um Mix de produtos a base de açaí e outras composições de frutas da Amazônia, com cremosidade, cor e sabor original da fruta. O Açaí Terruá têm como destaque uma competente equipe de profissionais práticos e engenheiros em pesquisa de produtos inovadores. A linha de produtos apresenta as seguintes características: produtos a base de açaí (polpa, cremes, bebidas, açaí em pó, óleo de açaí, purê de açaí), com a marca “AÇAÍ TERRUÁ” que tem sua aplicação com venda direta ao consumidor e para aplicação na indústria de sorvetes e indústria alimentícia.
      </p>
      <p>
        A empresa tem o seu mercado direcionado às grandes redes de Fast Food, restaurantes, supermercados, lojas de sucos, açaíteria, sorveterias.
      </p>
      <p>
        Serviço ao cliente: Hoje contamos com um departamento de atendimento ao cliente treinado para explicar e esclarecer todas as dúvidas comerciais e produtos. Nossa preocupação é atender com perfeição e excelência a todos os clientes e mantê-los sempre informados e satisfeitos.
      </p>
    </div>
  </div>
</div>
