<div class="container body-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Quem Somos</h2>
    </div>
  </div>
  <div id="who-we-are">
    <div class="text">
      <p>
        O empreendimento Açaí Terruá tem como finalidade oferecer ao mercado soluções no fornecimento de polpa de açaí e produtos derivados com alta qualidade. Seu principal diferencial está no controle de toda a cadeia produtiva (desde o cultivo do fruto, em fazendas próprias, até a distribuição do produto) e na atenção às necessidades dos clientes, entregando um produto de alta qualidade com maior praticidade, através do serviço de “entrega programada”, no qual o cliente define a periodicidade, o melhor dia e horário para as entregas serem realizadas, não se limitando às compras e entregas diárias de açaí – como é comum no mercado.
      </p>
      <p>
        Diante da falta de informações sobre o manejo da cultura do açaí, nós assumimos a frente de pesquisas, inovações e investimentos; aliando a vasta experiência em agronegócio e a vontade de concretizar uma cultura sustentável.
      </p>
      <p>
        Compreendemos a importância dos frutos no processo da cadeia alimentar. Levamos aos nossos consumidores mais qualidade de vida, respeitando, contudo a preservação do meio ambiente e a política de sustentabilidade.
      </p>
    </div>
  </div>
</div>
